<h1>Article</h1>
<a href="/article">Atrttttttt</a>
<a href="/viewArticle">sssssssssss</a>
<form method="post" enctype="application/x-www-form-urlencoded" action="/updateProfile/{{user._id}}">
    <input type="text" name="username" value="{{user.username}}" placeholder="Name" />
    <input type="text" name="age" value="{{user.age}}" placeholder="Age" />
    <input type="submit" value="Update" class="button btn-block">

</form>